/* RESET */

body, div, a {
  margin: 0;
  padding: 0;
  border: 0;

  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

/* STYLE */

body {
  background-color: #f2f2f2;
  flex-direction: column;
}

/* HEADER */

.section-title {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  padding: 15px;
  font: bold 30px Helvetica;
  color: white;
  background-color: #8BC74F;
  box-shadow: 0 0 15px 5px #ccc;
}

.section-title:active .nav-button {
  transform: rotate(0deg);
}

.nav-button {
  position: fixed;
  top: 60px;
  width: 50vw;
  height: 50px;
  color: #555;
  background-color: #ccff66;
  transition: 0.2s;
}

.nav-button.left {
  left: 0;
  transform-origin: left top;
  transform: rotate(90deg);
}

.nav-button.right {
  right: 0;
  transform-origin: right top;
  transform: rotate(-90deg);
}

/* MAIN CONTENT */

.page-content {
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 60px);
  margin-top: 60px;
}

/* LOGO */

.logo {
  width: 70vw;
  height: 70vw;
  margin: 20px;
  padding: 10px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 30px 10px #ccc;
  background-image: url('./assets/litter-logo.png');
  background-size: cover;
}

/* BUTTONS */

.button-wrap {
  flex-direction: column;
  width: 70vw;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 30px 5px #ccc;
}

.main-nav-button {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  font: bold 8vw Helvetica;
  background-color: #ccc;
  color: #555;
}

.main-nav-button:not(:last-child) {
  margin-bottom: 10px;
}
