* {
  box-sizing: border-box;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  background-color: #f2f2f2;
}

.section-title {
  width: 100%;
  padding: 15px;
  font: bold 20px Helvetica;
  color: white;
  background-color: #8BC74F;
  box-shadow: 0 0 5px 1px #aaa;
}

.map-pin {
  margin: 0 10px 3px 0;
}

.content-wrap {
  flex-direction: column;
  padding: 10px;
}

.post-module {
  width: calc(100% - 20px);
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 5px 1px #ccc;
  background-color: white;
}

.image-wrap {
  position: relative;
}

.post-module.image {
  padding: 15px;
}

.post-module.info {
  justify-content: space-around;
  font: bold 20px Helvetica;
  color: #8BC74F;
  height: 50px;
}

.info-details {
  font: bold 20px Helvetica;
  color: #8BC74F;
}

.size-icon {
  margin-left: 10px;
}

.cleanup-icon {
  margin-right: 10px;
}

.section-title.discussion {
  box-shadow: 0 2px 5px #aaa;
  /*box-shadow: none;*/
}
